.user{
    width: 100%;
}

.user__info {
    display: flex;
    width: 100%;
    padding: 0 56px;

    height: 86vh;
}
.content__user{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}

.repositories__list{
    margin-left: 98px;
}

.repos__title {
    margin-bottom: 29px;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.pagination{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 940px) {
    .user__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
    }

    .repositories__list {
        margin: auto;
        padding: 0 1rem;
    }

    .pagination {
        display: flex;
        align-items: center;
        padding: 0.8rem;
    }

    .repos__title {
        margin: 29px 0;
    }

    .content__user {
        width: 100vw;
    }
}